:root {
  --primary-color: #1ab2a8;
  --secondary-color: #dee0e3;
  --heading-font-family: "Manrope", sans-serif;
  --default-font-family: "Nunito", sans-serif;
}

.primary-color {
  color: var(--primary-color);
}

h1,
h2,
h3 {
  font-family: var(--heading-font-family);
}

.homepage-hero,
.hero {
  color: white;
  text-align: center;
  padding: 220px 20px 150px;
  font-size: larger;
}

.hero {
  padding: 220px 20px 100px;
}

.homepage-hero h1,
.hero h1 {
  text-transform: uppercase;
  font-size: 55px;
  font-weight: bold;
}

.homepage-hero p,
.hero p {
  margin-bottom: 88px;
  font-size: 20px;
}

.hero-image {
  background-image: url(/images/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.betweener-text {
  margin: 70px 0;
}

.button-link-outline,
.button-link {
  text-decoration: none;
  font-family: var(--heading-font-family);
  padding: 20px 32px;
  border-radius: 35px;
  transition: all 150ms ease-in-out;
}

.button-link {
  background-color: var(--primary-color);
  color: white;
  font-size: 18px;
}

.button-link:hover {
  color: white;
  filter: brightness(0.8);
}

.button-link-outline {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.button-link-outline:hover {
  background-color: var(--primary-color);
  color: white;
}

div.description {
  padding: 50px 30px 0;
}

.description h2,
.content-container h2 {
  font-size: 40px;
}

.description p,
.content-container p {
  line-height: 27px;
  text-align: justify;
  opacity: 0.8;
}

.content-container {
  margin: 80px auto;
  padding: 0 20px !important;
}

.content-container a {
  color: var(--primary-color);
}

.arts {
  max-width: 1000px !important;
}

.logo {
  max-width: 54px;
  padding-top: 2px;
  margin-left: 20px;
}

a.brand-name {
  font-size: 20px;
  padding: 7px 0 0 5px;
}

a.brand-name:hover {
  color: #212529;
}

.nav-container {
  position: fixed;
  width: 100%;
  background: white;
}

nav {
  padding: 2px 0;
}

nav ul {
  padding: 0 40px 0 0;
  margin: 10px 0;
}

nav li {
  list-style: none;
  display: inline;
  margin-left: 20px;
}

nav a {
  text-decoration: none;
  color: #212529;
  transition: all 100ms ease-in-out;
}

nav a:hover,
nav a.active {
  color: var(--primary-color);
}

.toggle-button {
  display: none;
  position: absolute;
  top: 15px;
  right: 20px;
  width: 30px;
  height: 20px;
}

.toggle-button .bar {
  height: 2px;
  width: 100%;
  background-color: #212529;
  border-radius: 20px;
}

footer {
  background: var(--primary-color);
  margin-top: 80px;
  height: 100px;
}

@media (max-width: 992px) {
  .description {
    padding: 0 0 40px;
    text-align: center;
  }

  .description p {
    text-align: center;
  }
}

@media (max-width: 575px) {
  .homepage-hero h1,
  .hero h1 {
    font-size: 40px;
  }

  .homepage-hero p,
  .hero p {
    font-size: 18px;
  }

  .description h2,
  .content-container h2 {
    font-size: 35px;
  }

  .toggle-button {
    display: flex;
  }

  nav ul {
    display: none;
    flex-direction: column;
    width: 100%;
    padding: 0;
    margin-bottom: 0;
  }

  nav li {
    margin: 0;
    padding: 8px 20px;
    border-top: 1px solid var(--secondary-color);
  }

  nav ul.menu-active {
    display: flex;
  }
}
